body
{
    font-family: 'Acme' , sans-serif;
    background-image: linear-gradient(to right top, #20b2e2, #1bd82e, #d6311e, #22e691, #9229d8);
}

.header_div
{
    background:#4e72de;
    color: #e28120;
}

.header_div p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:#67e67c;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: bold;
    }
.main_div  button{
font-family: Georgie, 'Times New Roman' , Times, serif;
margin-top: 30px;
width: 130px;
font-weight: bolder;
letter-spacing: 3px;
}
.copy_right_footer {
    position: fixed;
    color:#9edb52;
    bottom: 0;
    width: 100%;
    font-size: 18px;
    background-color:#5731d4;
    line-height: 3;
    text-align: center;
    text-shadow: 5px 5px 5px rgb(19, 189, 36);
}
